@charset 'UTF-8';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.cover {
  margin: 4em auto;
  text-align: center;
}
.footer {
  @extend .small;
  text-align: center;
}
main h1 {
  text-align: center;
}
